.experience-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 1rem 1rem;
}

.experience-heading {
  font-size: 56px;
  font-weight: 400;
}

.experience-container {
  display: flex;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.experience-container > * {
  flex: 1;
}

/* Media Query */

@media (max-width: 1380px) {
  .experience-heading {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .experience-heading {
    font-size: 30px;
    text-align: center;
  }
}

.subTitle {
  color: #212121;

  .dark-mode & {
    color: #ffffff;
  }
}

.experience-basic {
  width: 90%;
  margin: 0px auto;
}

.content-with-image {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  gap: 30px;
}

.text-content {
  flex: 1;
}

.image-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .content-with-image {
    flex-direction: column-reverse;
  }
  
  .image-content {
    margin-bottom: 20px;
  }
}
